.blue {
  height: 150px;
  background-color: blue;
  border: 2px solid #000;
}

.green {
   height: 100px;
   background-color: green;
   border: 2px solid #000;
 }

.red {
  height: 175px;
  background-color: red;
  border: 2px solid #000;
}

.turqoise {
  height: 175px;
  background-color: #40E0D0;
  border: 2px solid #000;
}

.orange {
  height: 150px;
  background-color: orange;
  border: 2px solid #000
}

.black {
  height: 100px;
  background-color: black;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 768px) {
  .blue {
    background-color: yellow;
  }
  .orange {
    background-color: black;
  }
}

@media screen and (min-width: 375px) {
    .blue {
      background-color: red;
    }
    .orange {
      background-color: purple;
    }
}
